* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.no-list-style {
  list-style-type: none;
}

.no-focus:focus {
  outline: none;
}

.box-shadow {
  -webkit-box-shadow: 0 0 5px 2px #cecece;
  box-shadow: 0.5em 0.5em 4em 0.5em;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.placeholder-italic::-webkit-input-placeholder {
  font-style: italic;
}

.placeholder-italic::-ms-input-placeholder {
  font-style: italic;
}

.placeholder-italic:-ms-input-placeholder {
  font-style: italic;
}

.placeholder-italic::placeholder {
  font-style: italic;
}

.font-sm {
  font-size: smaller;
}

.strike {
  text-decoration: line-through;
}

@media screen and (max-width: 750px) {
  body {
    width: 90%;
    margin: auto;
    padding-top: 100px;
  }
}
